/* Resets */
/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,900;1,900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-text-color: #243E71;
  --gray-text-color: #495057;
  --lightgreen-text-color: #4de7a7;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#about {
  scroll-margin-top: 20px;
}

#service {
  scroll-margin-top: 15px;
}

#contact {
  scroll-margin-top: 0px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none
}

/* Utility Classes */
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0px 12px;
}

.section-padding {
  padding: 4rem 0;
}

.b {
  border: 1px solid red
}

/* Header Section Start */
header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: white;
  padding: 10px 0;
  box-shadow: rgba(157, 157, 157, 0.2) 0px 4px 10px;
}

header .logo {
  display: flex;
  gap: 16px;
  cursor: pointer;
  user-select: none;
}

header nav span {
  color: var(--primary-text-color);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: max-content;
}

header ul {
  display: flex;
  gap: 2rem;
  user-select: none;
}

header li a {
  color: var(--gray-text-color);
}

/* Hamburger Icon */
.sub-nav {
  display: flex;
  align-items: center;
}

.hamburger-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: transparent;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: end;
  align-items: end;
}

.hamburger-icon span {
  height: 4px;
  background: #000;
  border-radius: 6px;
}

.hamburger-icon span:nth-child(1) {
  width: 40px;
}

.hamburger-icon span:nth-child(2) {
  width: 32px;
}

.hamburger-icon span:nth-child(3) {
  width: 24px;
}

.hamburger-icon-container .x-mark {
  display: none;
  font-size: 1.8rem;
}

/* Header Section End */

/* Hero Section Start */
.hero-section {
  background: linear-gradient(90deg, #e7f4ff 0%, #f9fdff 50%, #eef9f0 100%);
}

.hero-section .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0;
}

.hero-section .left-hero-section {
  width: 45%;
}

.hero-section .hero-heading {
  padding: 4px 8px;
  background-color: #c8f0df;
  width: max-content;
  border-radius: 50px;
  font-weight: 500;
  color: var(--lightgreen-text-color);
}

.hero-section .right-hero-section {
  width: 42%;
  display: flex;
  justify-content: end;
}

.hero-section .right-hero-section img {
  width: 100%;
}

.hero-section .name {
  font-size: 2.5rem;
  margin: 8px 0;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  color: var(--primary-text-color);
}

.hero-section .para {
  color: var(--gray-text-color);
  text-align: justify;
  margin: 8px 0;
}

.hero-section .hero-btn {
  margin: 16px 0;
  display: flex;
  gap: 1.5rem;
}

.hero-section .hero-btn button {
  padding: 12px 14px;
  border-radius: 50px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  user-select: none;
}

.primary-btn {
  background-color: var(--primary-text-color);
  border: none;
  color: white;
}

.secondary-btn {
  border: 2px solid var(--primary-text-color);
  background: transparent;
  color: var(--primary-text-color);
}

.hero-section .hero-strength {
  display: flex;
  margin: 20px 0;
  justify-content: space-between;
}

.hero-section .hero-strength div {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.hero-section .hero-strength div span:nth-child(1) {
  background-color: #cdf4e4;
  width: max-content;
  border-radius: 50px;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #307056;
}

.hero-section .hero-strength div span:nth-child(2) {
  color: var(--primary-text-color);
  font-weight: 600;
}

.hero-section .hero-strength div span:nth-child(3) {
  font-size: 12px;
}

/* Mouse Scroll Indicator Start */
.scroll-indicator {
  width: 18px;
  height: 25px;
  border: 2px solid #a9b4c4;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  margin: 0 auto;
}

.scroll-indicator span {
  width: 3px;
  height: 5px;
  background: #7f8ea3;
  border-radius: 50px;
  animation: scroll 2s infinite;
}

@keyframes scroll {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(6px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Mouse Scroll Indicator End */

/* Hero Section End */

/* About Section Start */
.about-section {
  background: linear-gradient(135deg, #F8FFFE 0%, #F4FAFF 50%, #EEF9F8 100%);
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading span {
  color: var(--lightgreen-text-color);
}

.heading .sub-heading {
  font-size: 2.5rem;
  font-weight: 600;
  font-family: "Rajdhani", sans-serif;
  color: var(--primary-text-color);
  margin: 12px 0;
}

.heading .heading-para {
  width: 69%;
  text-align: center;
  color: var(--gray-text-color);
}

.about-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  padding: 5rem 0;
}

.left-about-section {
  flex: 1;
}

.right-about-section {
  flex: 1;
}

.left-about-section img {
  width: 100%;
  max-width: 500px;
  display: block;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .08);
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.4s ease;
  user-select: none;
}

.left-about-section:hover img {
  transform: scale(1.05);
}

.right-about-section div:nth-child(1) {
  font-size: 1.5rem;
  color: #233C8C;
  margin-bottom: 25px;
  font-weight: 600;
}

.right-about-section p {
  font-size: 14px;
  line-height: 1.8;
  color: #6B7280;
  margin-bottom: 20px;
}

/* About-Details */

.about-section .about-details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.about-section .card {
  background-color: white;
  padding: 30px 10px;
  border-radius: 1rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-section .card svg {
  width: 15px;
  height: 15px;
  background-color: #cdf4e4;
  color: #307056;
  border-radius: 10px;
  padding: 10px;
}

.about-section .card div:nth-child(2) {
  color: var(--primary-text-color);
  font-weight: 500;
}

.about-section .card div:nth-child(3) {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--gray-text-color);
}

/* Core Value */
.about-core-value {
  padding-top: 3rem;
}

.core-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
  margin: 2rem 0;
}

.about-section .core-value {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.about-section .core-value div:nth-child(1) {
  color: var(--primary-text-color);
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 600;
}

.about-section .core-value div:nth-child(2) {
  font-size: 13px;
  color: var(--gray-text-color);
}

/* About Section End */

/* Medical Services Section Start */

.medical-services-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.service-card {
  display: flex;
  flex-direction: column;
  padding: 25px 18px;
  border-radius: 20px;
  background: linear-gradient(135deg, #EAF8FF, #EAF9F3);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 100%;
  gap: 15px;
  cursor: pointer;
  color: var(--gray-text-color);
}

.service-card svg {
  background-color: white;
  padding: 18px 16px;
  border-radius: 8PX;
  color: var(--lightgreen-text-color);
  font-size: 18PX;
}

.medical-services-section .service-card div:nth-child(2) {
  color: var(--primary-text-color);
  font-size: 1.1rem;
  font-weight: 500;
}

.medical-services-section .service-card div:nth-child(3) {
  font-size: 13px;
}

.medical-services-section .service-card ul {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Your-Care-Journey */
.your-care-journey {
  margin-top: 4rem;
  color: #FFFFFF;
}

.your-care-journey>div:nth-child(1) {
  background: linear-gradient(135deg, #243E90 0%, #156B9D 50%, #0D9B87 100%);
  padding: 2rem;
  border-radius: 30px;
}

.your-care-journey-info {
  text-align: center;
}

.your-care-journey-info div:nth-child(1) {
  font-size: 2.5rem;
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
}

.your-care-journey-info div:nth-child(2) {
  font-size: 15px;
}

.your-care-journey .student-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1.2rem;
  gap: 2rem;
}

.student-info .student-info-box div:nth-child(1) {
  font-size: 4rem;
  opacity: 0.2;
}

.student-info .student-info-box div:nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 8px 0;
}

.student-info .student-info-box p:nth-child(3) {
  font-size: 13px;
}

.care-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4rem;
  gap: 2rem;
}

.care-left-section,
.care-right-section {
  padding: 2rem;
  border-radius: 30px;
}

.care-left-section {
  background: linear-gradient(135deg, #EEF8FF 0%, #F7FCFF 100%);
  color: #000;
}

.care-right-section {
  background: linear-gradient(135deg, #F0FBF0 0%, #EAF8EC 100%);
  color: #000;
}

.care-info-heading {
  color: var(--primary-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}

.care-info-para {
  font-size: 13px;
  color: var(--gray-text-color);
  margin: 1rem 0;
  text-align: justify;
}

.care-info ul {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--gray-text-color);
}

.care-info ul li {
  list-style: disc;
}

.care-info ul li::marker {
  color: var(--lightgreen-text-color);
}

/* Medical Services Section End */

/* Get In Touch Start */
.get-in-touch-section {
  background: linear-gradient(135deg, #F5FBFF 0%, #F6FCFF 50%, #EEF9F4 100%);
}

.appointment-form {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.get-in-touch-left {
  background-color: white;
  height: max-content;
}

.get-in-touch-left {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 15px;
}

.get-in-touch-heading {
  color: var(--primary-text-color);
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.from-group-name {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 12px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 14px;
  margin: 10px 0;
}

.form-group input {
  width: 100%;
  background: #EEF8FF;
  padding: 12px 18px;
  border: 1px solid #D7E8F6;
  border-radius: 12px;
  outline: none;
  font-size: 15px;
}

.form-group textarea {
  height: 140px;
  background: #EEF8FF;
  border: 1px solid #D7E8F6;
}

.get-in-touch-left button {
  margin: 2rem 0;
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 0;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'poppins', sans-serif;
  background-color: var(--primary-text-color);
  color: white;
  transition: .2s ease-out;
}

.get-in-touch-left button:hover {
  background-color: #173163;
  transform: translateY(-2px);
}

.contact-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  height: max-content;
}

.contact-card {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
}

.contact-card span {
  background-color: #cdf4e4;
  width: max-content;
  border-radius: 5px;
  padding: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #307056;
}

.contact-card>div:nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
  color: #243E90;
  margin-bottom: 15px;
}

.contact-info .contact-card p {
  color: #5F6877;
  line-height: 1.7;
  font-size: 13px;
}

/*  */
.location-card {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 380px;
  overflow: hidden;
  border-radius: 24px;
  cursor: pointer;
  margin-top: 4rem;
}

.location-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: .5s;
}

.location-card:hover img {
  transform: scale(1.08);
}

/* Dark Gradient Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(17, 24, 39, .75), rgba(17, 24, 39, .2), rgba(17, 24, 39, .05));
}

/* Text */
.location-content {
  position: absolute;
  left: 40px;
  bottom: 40px;
  color: #fff;
  z-index: 2;
}

.location-content h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.location-content p {
  font-size: 1.1rem;
  color: rgba(255, 255, 255, .9);
  margin-bottom: 20px;
}

.location-content a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: .3s;
}

.location-content a:hover {
  gap: 14px;
}

/*  */
.medical-emergency {
  background: #FFF2F2;
  border-left: 5px solid #EF4444;
  border-radius: 18px;
  padding: 28px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .08);
  margin-top: 4rem;
}

.emergency-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #7F1D1D;
  margin-bottom: 14px;
}

.emergency-text {
  font-size: 15px;
  line-height: 1.8;
  color: #9B3D3D;
  margin-bottom: 22px;
}

.btn-emergency {
  padding: 12px 26px;
  border: none;
  border-radius: 10px;
  background: #DC2626;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: .3s ease;
}

.btn-emergency:hover {
  background: #B91C1C;
  transform: translateY(-2px);
}

/* Get In Touch End */

/*New-Patients-Section Start */
.new-patients-section {
  color: white;
}

.new-patients-content {
  background: linear-gradient(135deg, #243E90 0%, #176B97 50%, #0E9B87 100%);
  padding: 3rem 2rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.new-patients-section h2 {
  color: #FFFFFF;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: "Rajdhani", sans-serif;
}

.new-patients-para {
  max-width: 700px;
  margin: 0 auto 25px;
  color: rgba(255, 255, 255, .9);
  font-size: 15px;
}

.new-patient-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-book,
.btn-call {
  text-decoration: none;
  padding: 15px 35px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  transition: .3s;
}

.btn-book {
  background: #FFFFFF;
  color: #243E90;
}

.btn-book:hover {
  background: #F4F4F4;
}

.btn-call {
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  background: transparent;
}

.btn-call:hover {
  background: #FFFFFF;
  color: #243E90;
}

/*New-Patients-Section End */

/* About Gallery Start */
.about-gallery {
  padding: 100px 0;
  background: #f7fbff;
  font-family: "Rajdhani", sans-serif;
}

.section-heading {
  max-width: 700px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.section-heading span {
  color: #16a085;
  font-weight: 500;
  letter-spacing: 2px;
}

.section-heading h2 {
  font-size: 35px;
  margin: 15px 0;
  color: var(--primary-text-color);
}

.section-heading p {
  color: var(--gray-text-color);
  line-height: 1.8;
  font-family: 'poppins', sans-serif;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.gallery-card:nth-child(2) img {
  object-position: center top;
}

.gallery-card:nth-child(4) img {
  object-position: top;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: 320px;
  cursor: pointer;
}

.gallery-card.large {
  height: 450px;
}

.gallery-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}

.gallery-card:hover img {
  transform: scale(1.15);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent 60%);
  display: flex;
  align-items: flex-end;
  padding: 25px;
  opacity: 0;
  transition: .4s;
}

.gallery-card:hover .overlay {
  opacity: 1;
}

.overlay h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.gallery-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 3px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  transform: scale(.9);
  opacity: 0;
  transition: .4s;
  z-index: 2;
}

.gallery-card:hover::before {
  transform: scale(1);
  opacity: 1;
}

/* About Gallery End */

/* Footer Start */
.footer {
  background: var(--primary-text-color);
  padding: 10px 0;
  text-align: center;
}

.footer p {
  color: rgb(144, 143, 143);
  font-size: 13px;
  font-weight: 400;
}

/* Footer End */